.control-box-type-1st {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.3rem;

  width: 96%;
  aspect-ratio: 1 / 1.13;

  background-image: url("../../assets/panel/frame-01.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  &.decoration {
    background-image: url("../../assets/panel/frame-01.png"),
      url("../../assets/images/house.png");
  }
}

.control-box-type-1st > .option-label {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  gap: 0.3rem;
  color: var(--label-color);
  white-space: nowrap;
  transition: 0.5s;

  &:hover {
    color: #f0d1ff;
  }
  &:hover .icon {
    scale: 1.1;
  }

  & .icon {
    font-size: 1.3rem;
    transition: scale 0.3s;
  }
  & .icon.checked {
    color: #b1ff57;
    filter: var(--drop-shadow-hover);
  }
}

.control-box-type-2nd {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  width: 98%;
  aspect-ratio: 1 / 0.76;

  background-image: url("../../assets/panel/frame-02.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.control-box-type-2nd .item-left {
  width: 36%;
  min-width: 36%;
  aspect-ratio: 1 / 1.05;
  padding: 3px;
  background-image: url("../../assets/panel/frame-icon.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  align-items: center;
  justify-content: center;

  & img {
    width: 100%;
    border-radius: 5%;
    z-index: -1;
    /* imgタグの謎の余白を消す */
    vertical-align: bottom;
  }
}

.control-box-type-2nd .item-right {
  /* flex-grow: 1; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  color: var(--label-color);
}

.color-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;

  & .reset-button {
    appearance: none;
    border: none;
    outline: none;
    cursor: pointer;
    display: inline-block;
    background: linear-gradient(to right, #00bfff 0%, #7fffd4 45%, #fffacd 100%);
    background-size: 200% auto;
    color: #fff;
    border-radius: calc(infinity * 1px);
    padding: 0.3rem 2rem;
    text-decoration: none;
    font-size: 1rem;
    transition: 0.5s;

    &:hover {
      color: #9a0a9a;
      background-position: right center;
    }
    &:active {
      scale: 0.95 1;
      transition: 0.2s;
    }
  }

  & .color-label {
    width: 40%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    & img {
      width: 100%;
      aspect-ratio: 1 / 1;
    }

    & input[type="color"] {
      width: 100%;
      aspect-ratio: 1 / 1;
      position: absolute;
      opacity: 0;
      z-index: -1;
    }
  }
}
