.character-box {
  height: 100%;
  cursor: pointer;
  user-select: none;
  transition: transform var(--spring-duration-2nd) var(--spring-easing-2nd);
  animation: character_show 1s 0s;
  animation-timing-function: ease, step-start, cubic-bezier(0.1, 0.7, 1, 0.1);
}

.character-box:active {
  animation: bounce 0.5s ease;
}

.character-box .character-img {
  height: 100%;
}

.character-box .character-img.texture {
  position: absolute;
  inset: 0;
  margin: auto;
  mix-blend-mode: exclusion;
}

@keyframes character_show {
  0% {
    scale: 1.25;
  }
  100% {
    scale: 1;
  }
}

@keyframes bounce {
  0% {
    translate: 0px 0px;
    scale: 1;
  }
  100% {
    translate: 0px -15px;
    scale: 0.95 1;
  }
}
