.character-container {
  height: 100%;
  max-width: 35dvw;
  transition: 0.5s;
  /* z-indexを効くために */
  position: relative;

  transform-style: preserve-3d;
  perspective: 900px;
}

.character-container:hover {
  z-index: 99;
  max-width: 50dvw;
  animation: bounce 0.5s ease alternate infinite;
  /* animation-timing-function: var(--spring-easing-2nd); */
}

@keyframes bounce {
  0% {
    translate: 0px 0px;
    scale: 1;
    /* transform: translateY(0px) scale(1); */
  }
  100% {
    translate: 0px -15px;
    scale: 0.95 1;
    /* transform: translateY(-15px) scale(0.95, 1); */
  }
}
