.stand-container {
  height: 100%;
  max-width: 35dvw;
  transition: 0.5s;
  /* z-indexを効くために */
  position: relative;

  transform-style: preserve-3d;
  perspective: 900px;
}

.stand-container:hover {
  max-width: 50dvw;
  z-index: 99;
}

.stand-container.mirror {
  max-width: none;
  position: absolute;
  left: 0;
  z-index: 99;
}

.stand-container .stand-wrapper {
  height: 100%;
  transition: 0.4s;
}

.stand-container .stand-wrapper:hover {
  animation: bounce 0.5s ease alternate infinite;
}

@keyframes bounce {
  0% {
    translate: 0px 0px;
    scale: 1;
    /* transform: translateY(0px) scale(1); */
  }
  100% {
    translate: 0px -15px;
    scale: 0.95 1;
    /* transform: translateY(-15px) scale(0.95, 1); */
  }
}
