.information {
  position: absolute;
  top: 0.3rem;
  color: #e789ff;
  font-size: 1.2rem;
  line-height: 1.5;
  user-select: none;
  text-align: center;
  white-space: nowrap;
  /* mix-blend-mode: exclusion; */
  transition: 0.5s;
  filter: drop-shadow(0 0 3px #ff63ff) drop-shadow(0 0 15px #a20072);
  opacity: 0;
  z-index: 0;
}

.information.infoActive {
  opacity: 1;
  z-index: 20;
}

.information p {
  transition: 0.2s;
}

.information > p.active {
  color: #00ff4c;
  font-size: 1.3rem;
  font-weight: 600;
}

.information > p > span {
  color: #e789ff;
  font-size: 1.2rem;
  font-weight: normal;
}

.information > p > span.active {
  color: #d7ff25;
}

@media (max-width: 768px) {
  .information {
    font-size: 1rem;
  }

  .information > p.active {
    font-size: 1.1rem;
  }

  .information > p > span {
    font-size: 1rem;
  }
}
