.effect-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover .effect-box {
    scale: 1;
  }
}

.effect-box {
  position: absolute;
  font-size: 1rem;
  color: #ff84fb;
  width: 11rem;
  user-select: none;

  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  transition: 0.5s;

  scale: 0;
  transform: translateY(-60%);

  &.parts-2nd {
    transform: translateY(-64%);
  }
}

/* 猫 Icon */
.effect-box .inner-icon {
  margin-bottom: -0.1rem;
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  border: 1px solid transparent;
  color: #ffa9ec;
  font-size: 1.7rem;
  transition: 0.25s;

  &:hover {
    color: #7bffbf;
    scale: 0.95;
  }
  &:active {
    color: #ffa9ec;
    scale: 0.8;
  }
}

@media (max-width: 768px) {
  .effect-box {
    transform: translateY(-25%) translateX(-65%);
  }
  .effect-box.parts-2nd {
    transform: translateY(-15%) translateX(-65%);
  }
}

@keyframes korokoro {
  0% {
    transform: translate(0%, 0%);
  }
  5% {
    transform: translate(10%, 0%) rotate(10deg);
  }
  25% {
    transform: translate(20%, 0%) rotate(20deg);
  }
  30% {
    transform: translate(-10%, 0%) rotate(-10deg);
  }
  35% {
    transform: translate(-15%, 0%) rotate(-15deg);
  }
  45% {
    transform: translate(10%, 0%) rotate(10deg);
  }
  50% {
    transform: translate(15%, 0%) rotate(15deg);
  }
  60% {
    transform: translate(-5%, 0%) rotate(-5deg);
  }
  65% {
    transform: translate(-7%, 0%) rotate(-7deg);
  }
  75% {
    transform: translate(0%, 0%) rotate(0deg);
  }
  100% {
    transform: translate(0%, 0%) rotate(0deg);
  }
}
