.range-box {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  transition: 0.5s;
  width: 100%;
}

.range-box > label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  width: 100%;
}

.range-box > label:hover {
  scale: 2 1;
  animation: hoverShake 0.15s linear 3;
}

.range-box > label:hover input[type="range"] {
  padding: 0.2rem;
}

/* https://www.webdesignleaves.com/pr/css/input-range-style.html */
/* !レンジスライダー ベーススタイル */
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  background: transparent;
  cursor: pointer;
  width: 100%;
}

/* Track: Chrome, Safari, Opera, Edge Chromium */
input[type="range"]::-webkit-slider-runnable-track {
  background: linear-gradient(#ff63e2, #ffff8b);
  height: 2px;
  border-radius: 2px;
}

/* Thumb: Chrome, Safari, Opera, Edge Chromium */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 6px;
  width: 6px;
  margin-top: -2px; /* 位置の調整が必要 */
  background-color: #ff84fb;
  border-radius: 50%;
}

@keyframes hoverShake {
  0% {
    transform: skew(0deg, 0deg);
  }
  25% {
    transform: skew(1deg, 1deg);
  }
  75% {
    transform: skew(-1deg, -1deg);
  }
  100% {
    transform: skew(0deg, 0deg);
  }
}
