.filter-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  cursor: pointer;
  padding: 1px;
  border-radius: 50%;
  color: #ffa9ec;
  font-size: 2.2rem;
  transition: 0.25s;
}

.icon:hover {
  border: 1px dashed #ffa9ec;
  background-color: #fff;
  color: rgb(200, 0, 15);
  animation: 0.2s linear 0s flashAni;
}

.icon:active {
  color: #eb00e7;
  border: 1px dashed #eb004e;
  scale: 1.5;
}

.icon.toggleFilter {
  animation: change-color 1s linear infinite alternate;
}

@keyframes change-color {
  0% {
    color: #ff99fd;
  }
  100% {
    color: #ebd000;
  }
}

.menuFilter {
  position: absolute;
  font-size: 1rem;
  color: #ff84fb;
  width: 11rem;

  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  transition: 0.5s;

  gap: 0.2rem;

  transform: translateY(-58%);
  /* z-index: 9; */

  scale: 0;
}

.filter-container:hover .menuFilter {
  scale: 1;
}

.menuFilter > label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /* padding-bottom: 0.2rem; */

  transition: 0.5s;
}

.menuFilter > label:hover {
  scale: 2 1;
  animation: hoverShake 0.15s linear 3;
}

.menuFilter label span {
  user-select: none;
}

.menuFilter .effect-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  line-height: 1rem;
  border: 1px solid #00ff80;
  gap: 0.3rem;

  width: 100%;
  /* border-radius: 0.2rem; */
  padding: 0.2rem;
  margin-top: 0.8rem;

  transition: 0.3s;
}

.menuFilter .effect-box:hover {
  /* animation: korokoro 2.5s linear 0s 1; */
  animation: hoverShake 0.15s linear 3;
}

.menuFilter .effect-box label:hover {
  color: #d9ff2f;
}
.menuFilter .effect-box label:hover input[type="checkbox"]:not(:checked),
.menuFilter .effect-box label:hover input[type="radio"] {
  border-color: #09ff00;
}

.menuFilter .effect-box > label {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  cursor: pointer;
}

/* .menuFilter .effect-box .heavySelect {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
}

.menuFilter .effect-box .heavySelect > label {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  gap: 0.1rem;
  font-size: 0.9rem;
} */

/* checkboxカスタマイズ */
.menuFilter input[type="checkbox"] {
  appearance: none;
  cursor: pointer;

  /* width: 1rem;
  height: 1rem; */
  width: 0.8rem;
  height: 0.8rem;
  border: 1px solid #ed8be9;
  transition: all 0.12s, border-color 0.08s;

  position: relative;
}
.menuFilter input[type="checkbox"]:checked {
  /* width: 0.5rem;
  top: -0.25rem;
  left: 0.25rem; */
  width: 0.4rem;
  top: -0.2rem;
  left: 0.2rem;
  border-color: #93ffeb;
  border-top-color: transparent;
  border-left-color: transparent;
  transform: rotate(45deg);
}

/* radioカスタマイズ */
.menuFilter input[type="radio"] {
  appearance: none;
  cursor: pointer;
  width: 0.7rem;
  height: 0.7rem;
  border: 1px solid #ed8be9;
  border-radius: 50%;
  transition: all 0.12s;
  position: relative;
}
.menuFilter input[type="radio"]:checked {
  border-color: #09ff00;
  /* background: #ff7cf4; */
}
.menuFilter input[type="radio"]:checked::before {
  content: "";
  position: absolute;
  inset: 0;
  margin: auto;
  width: 0.45rem;
  height: 0.45rem;
  border-radius: 50%;
  background: #ff7cf4;
}

.menuFilter .targetSelect {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.2rem;

  font-size: 0.8rem;
  gap: 0.3rem;
}

.menuFilter .targetSelect > label {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.1rem;
}

.menuFilter .targetSelect > label > span {
  user-select: none;
}

.menuFilter .filterButton {
  display: flex;
  gap: 0.3rem;
  margin-top: 0.3rem;
  position: relative;
}

.menuFilter .filterButton::after {
  content: attr(data-message);
  outline: 1px dashed #fe62f9;
  position: absolute;
  color: #fe62f9;
  bottom: -110%;
  left: 0;
  transition: 0.5s;
  font-size: 0.8rem;
  display: none;
}

.menuFilter .filterButton:has(:first-of-type:hover):after {
  display: block;
  animation: purun 0.8s linear 0s 1;
}

.menuFilter .filterButton input[type="button"] {
  text-align: center;
  cursor: pointer;
  background: #ff66ff;
  color: #ffffff;
  padding: 1px;
  box-shadow: 3px 5px 2px #666666;
  border: 2px solid #ff66ff;
  transition: 0.3s;
  font-size: 0.85rem;
}

.menuFilter .filterButton input[type="button"]:hover {
  box-shadow: none;
  color: #ff66ff;
  background: #ffffff;
}

.menuFilter .filterButton input[type="button"]:active {
  background-color: #8b1361;
}

/* https://www.webdesignleaves.com/pr/css/input-range-style.html */
/* !レンジスライダー ベーススタイル */
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  background: transparent;
  cursor: pointer;
  width: 11rem;

  /* filter: drop-shadow(0 0 5px #ff00d4) drop-shadow(0 0 15px #ff00d4); */
  /* filter: drop-shadow(0 0 5px #00ff80) drop-shadow(0 0 15px #00ffd0); */
}

.menuFilter > label:hover input[type="range"] {
  padding: 0.2rem;
}

/* Track: Chrome, Safari, Opera, Edge Chromium */
input[type="range"]::-webkit-slider-runnable-track {
  background: linear-gradient(#ff63e2, #ffff8b);
  height: 2px;
  border-radius: 2px;
}

/* Thumb: Chrome, Safari, Opera, Edge Chromium */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 6px;
  width: 6px;
  margin-top: -2px; /* 位置の調整が必要 */
  background-color: #ff84fb;
  border-radius: 50%;
}

@keyframes flashAni {
  0%,
  35%,
  50%,
  85% {
    opacity: 0;
  }
  20%,
  65%,
  100% {
    opacity: 1;
  }
}

@keyframes hoverShake {
  0% {
    transform: skew(0deg, 0deg);
  }
  25% {
    transform: skew(1deg, 1deg);
  }
  75% {
    transform: skew(-1deg, -1deg);
  }
  100% {
    transform: skew(0deg, 0deg);
  }
}

@keyframes purun {
  0% {
    transform: scale(1, 1) translate(0%, 0%);
  }
  15% {
    transform: scale(0.9, 0.9) translate(0%, 5%);
  }
  30% {
    transform: scale(1.3, 0.8) translate(0%, 10%);
  }
  50% {
    transform: scale(0.8, 1.3) translate(0%, -10%);
  }
  70% {
    transform: scale(1.1, 0.9) translate(0%, 5%);
  }
  100% {
    transform: scale(1, 1) translate(0%, 0%);
  }
}

@keyframes korokoro {
  0% {
    transform: translate(0%, 0%);
  }
  5% {
    transform: translate(10%, 0%) rotate(10deg);
  }
  25% {
    transform: translate(20%, 0%) rotate(20deg);
  }
  30% {
    transform: translate(-10%, 0%) rotate(-10deg);
  }
  35% {
    transform: translate(-15%, 0%) rotate(-15deg);
  }
  45% {
    transform: translate(10%, 0%) rotate(10deg);
  }
  50% {
    transform: translate(15%, 0%) rotate(15deg);
  }
  60% {
    transform: translate(-5%, 0%) rotate(-5deg);
  }
  65% {
    transform: translate(-7%, 0%) rotate(-7deg);
  }
  75% {
    transform: translate(0%, 0%) rotate(0deg);
  }
  100% {
    transform: translate(0%, 0%) rotate(0deg);
  }
}
