.EF-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}

.EF-container .EF-wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.55rem;
  transform: translateY(15dvh);
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}

.EF-container:hover .EF-wrapper {
  transform: translateY(-68%);
  visibility: visible;
  opacity: 1;
}

.EF-container:hover .EF-wrapper .radio-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1rem;
}

.EF-container:hover .EF-wrapper .radio-content .control-box {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1rem;
  gap: 0.5rem;
}

@media (max-width: 768px) {
  .EF-container .EF-wrapper {
    transform: translateY(25dvh) translateX(-45%);
  }
  .EF-container:hover .EF-wrapper {
    transform: translateY(-10%) translateX(-45%);
  }
}
