.showList-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  transition: 0.5s;

  &:hover .target-box {
    scale: 1;
  }
}

.showList-container .target-box {
  position: absolute;
  transform: translateY(-87%);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  color: #ff84fb;

  scale: 0;
  transition: 0.5s;
  z-index: -1;

  & .otherAction {
    opacity: 0;
    transition: 0.5s;
  }

  &:hover .otherAction {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .showList-container .target-box {
    transform: translateY(-10%) translateX(-42%);
  }
  .showList-container .target-box .otherAction {
    opacity: 1;
  }
}
