.rotateY-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  transition: 0.5s;
}

.rotateY-container .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: absolute;
  transform: translateY(-185%);

  font-size: 1rem;
  transition: 0.5s;
  scale: 0;
}

.rotateY-container:hover .wrapper {
  scale: 1;
}

@media (max-width: 768px) {
  .rotateY-container .wrapper {
    transform: translateY(0) translateX(-65%);
  }
}
