.voice-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover .voice-box {
    scale: 1;
  }

  & .voice-box {
    position: absolute;
    transform: translateY(-80%);
    scale: 0;
    transition: all 0.5s;
  }
}

.voice-container .voice-box audio {
  opacity: 0.8;
  width: 20rem;
  height: 1.5rem;
  margin-top: 0.6rem;
  transition: all 0.5s;

  &::-webkit-media-controls-panel {
    background-color: #f5b2ff;
  }

  &.inOrder::-webkit-media-controls-panel {
    background-color: #a7fd85;
  }
}

.voice-container .voice-box .voice-control {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
  transition: 0.5s;

  & p {
    cursor: pointer;
    user-select: none;
    font-size: 1.2rem;
    margin: 0px 0.2rem;
    padding: 1px 4px;
    line-height: 1;
    min-width: 6rem;
    text-align: center;
    border: 1px dashed #ffa9ec;
    color: #900075;
    background-color: #78ffed;
    transition: 0.5s;
  }
  & p:hover {
    animation: 0.2s linear 0s flashAni;
    color: #8300a7;
    background-color: #f6afff;
    border: 1px dashed #ec60ff;
  }
}

@media (max-width: 768px) {
  .voice-container .voice-box {
    transform: translateY(0) translateX(-15%) rotate(-90deg);
  }
}

@keyframes flashAni {
  0%,
  35%,
  50%,
  85% {
    opacity: 0;
  }
  20%,
  65%,
  100% {
    opacity: 1;
  }
}
