.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.container.cardMode {
  height: 862px;
}

.container.cgMode {
  height: 99dvh;
}

.container.mirror {
  width: 100dvw;
}

/* ！重要 125%DPI対応 */
/* 参考: https://junzou-marketing.com/css-responsive-image */
@media (min-resolution: 1.25dppx) {
  .container.cardMode {
    zoom: 0.8;
  }
  html:has(.container.mangaMode) {
    font-size: 12.8px;
  }
  html:has(.container.cgMode) {
    font-size: 12.8px;
  }
}
