.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.container.cardMode {
  height: 54rem;
}

.container.cgMode {
  height: 99dvh;
}

.container.mirror {
  width: 100dvw;
}
