.content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  transition: 0.5s;
  /* StandImage(max-width 25dvw * 2) + Card(100dvw) ゆえに150dvwに設置 */
  width: 150dvw;
}

.content.mirror {
  -webkit-box-reflect: right 0;
  justify-content: flex-end;
  position: absolute;
  left: 0;
  width: 50%;
}

.content.threeD {
  /* cardの3D化 */
  transform-style: preserve-3d;
  perspective: 1200px;
}
