/* css変数 ローカル変数 */
.card {
  --clr1: #ff1d1d;
  --clr2: #c02ba0;
  --clr3: #fb8eff;
  --border-clr: #000000d6;
}

.card {
  height: 100%;
  aspect-ratio: var(--aspect-ratio);
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid var(--border-clr);
  background-color: var(--clr1);
  box-shadow: 0 0 30px var(--clr1);
  user-select: none;
  overflow: hidden;
  transition: box-shadow 0.5s, background-color 0.5s, overflow 0.5s, filter 0.3s,
    border 0.15s;
}

.card.iconHover {
  background-color: var(--clr2);
  box-shadow: 0 0 30px var(--clr2);
}

.card.cardHover {
  background-color: transparent;
  box-shadow: none;
  border: 0px solid;
  overflow: unset;

  & > div:last-child {
    box-shadow: 0 0 0 2px transparent;
  }
  & > div:last-child > span {
    background-color: transparent;
  }
}

.card.special {
  background-color: var(--clr3);
  box-shadow: 0 0 30px var(--clr3);

  & > div:last-child > span {
    background-color: transparent;
  }
}

.card .chara-img {
  z-index: 9;
  height: 0;
  transition: height 0.5s;
}
.card:is(.iconHover, .cardHover, .special) .chara-img {
  height: 100%;
}

@media (max-width: 768px) {
  .card {
    border: 3px solid var(--border-clr);
  }

  .card.cgMode {
    max-width: 100dvw;
  }

  .card.mirror:hover {
    overflow: hidden;
  }
}

/* @keyframes card-refresh {
  0% {
    transform: rotateZ(360deg) scale(0) rotateY(var(--rotateY-deg));
  }
  100% {
    transform: rotateZ(0deg) scale(1) rotateY(var(--rotateY-deg));
  }
} */
