:root {
  --clr1: #ff1d1d;
  --clr2: #ff3be2;
}

.card-container-3d {
  position: relative;
  z-index: 10;
  /* cardの3D化 */
  transform-style: preserve-3d;
  perspective: 1200px;

  height: 100%;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--clr1);
  box-shadow: 0 0 0 5px #0009, 0 10px 65px var(--clr1);
  user-select: none;
  transition: 0.5s;
  /* imageの3D化 */
  transform-style: preserve-3d;
  perspective: 1000px;

  height: 100%;
}

.card.cardMode {
  width: 38rem;
}
.card.cgMode {
  width: 40dvw;
}

.card:hover {
  background: var(--clr2);
  box-shadow: 0 0 0 5px #0009, 0 10px 65px var(--clr2), 0 10px 95px var(--clr2);
}

.card.sceneCG {
  background: none;
  box-shadow: none;

  width: auto;
  filter: drop-shadow(0 0 5px #5cff95) drop-shadow(0 0 15px #ff34dd);
}

.card.sceneCG:hover {
  filter: drop-shadow(0 0 5px #86fff3) drop-shadow(0 0 15px #fc3eff);
}
