:root {
  --clr1: #ff1d1d;
  --clr2: #ff3be2;
}

.card-container-3d {
  height: 100%;
  position: relative;
  z-index: 10;
  /* cardの3D化 */
  transform-style: preserve-3d;
  perspective: 1200px;
}

.card {
  height: 100%;
  aspect-ratio: 1 / 1.42;

  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--clr1);
  border: 5px solid #000000dc;
  box-shadow: 0 0 30px var(--clr1);
  user-select: none;
  /* imageの3D化 */
  transform-style: preserve-3d;
  perspective: 1000px;

  transition: all 0.5s, border 0.1s;
}

.card.hasAnime {
  transition: all 0.5s, border 0.1s, background-color 0s, box-shadow 0s;
}

.card.sceneCard {
  transition: all 0.5s, border 0.1s;
}

@media (max-width: 768px) {
  .card.cgMode {
    width: 100dvw;
  }
}

.card:hover {
  background: var(--clr2);
  box-shadow: 0 0 30px var(--clr2), 0 0 35px var(--clr2);
}

.card.sceneCG {
  background: none;
  box-shadow: none;
  border: 0px solid transparent;
  width: auto;
}

.card.sceneCG.shadow {
  filter: var(--drop-shadow);
}

.card.sceneCG.shadow:hover {
  filter: var(--drop-shadow-hover);
}
