.control-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0.1rem;
  opacity: 0;
  transition: 0.25s;
  filter: drop-shadow(0 0 5px #920083) drop-shadow(0 0 15px #fc58ff);
}

.control-box.show {
  opacity: 1;
}

.control-box:hover {
  opacity: 1;
  filter: drop-shadow(0 0 5px #86fff3) drop-shadow(0 0 5px #fc3eff);
}

.control-box .icon {
  cursor: pointer;
  padding: 1px;
  border-radius: 50%;
  /* color: #ffa9ec; */
  color: #e090ff;
  font-size: 2.2rem;
  transition: 0.25s;
}

.control-box .icon:hover {
  border: 1px dashed #ffa9ec;
  background-color: #fff;
  color: rgb(200, 0, 15);
  animation: 0.2s linear 0s flashAni;
}

.control-box .icon:active {
  color: #eb00e7;
  border: 1px dashed #eb004e;
  scale: 1.5;
}

.control-box .icon.toggleState {
  animation: change-color 1s linear infinite alternate;
}

@keyframes flashAni {
  0%,
  35%,
  50%,
  85% {
    opacity: 0;
  }
  20%,
  65%,
  100% {
    opacity: 1;
  }
}

@keyframes change-color {
  0% {
    color: #ff99fd;
  }
  100% {
    color: #ebd000;
  }
}
