.control-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0.1rem;
  opacity: 0;
  transition: 0.25s;
}

.control-box.show {
  opacity: 1;
}

.control-box:hover {
  opacity: 1;
}
