.stand-img {
  height: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  aspect-ratio: 1 / 1;
  transition: all 0.5s;
}

.stand-img.standHover {
  height: 98%;
}
