.directory-container {
  --filter: drop-shadow(0 0 0.2rem #86fff3) drop-shadow(0 0 0.4rem #fc3eff);
}

/* 参考 https://knmts.com/as-a-engineer-219/ */
.directory-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  z-index: 9;
  transition: all 1s;
  height: 100%;
}

/* 参考tailwind css */
/* https://tailwindcss.com/docs/grid-template-columns */
.directory-container .gird-box {
  height: calc(100% - 4rem);
  aspect-ratio: 1.5 / 1;

  display: grid;
  place-items: center;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 0.3rem;
}

@media (max-width: 768px) {
  .directory-container {
    margin-bottom: 0;
    gap: 0.2rem;
  }

  .directory-container .gird-box {
    height: calc(100% - 2rem);
    aspect-ratio: 1 / 1.4;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 0.1rem;
  }

  .directory-container.cgMode .gird-box {
    height: 95dvh;
    width: 100dvw;
  }
}

.directory-container .gird-box .item {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
  transition: box-shadow 0.3s, filter 0.5s;

  &:hover {
    box-shadow: 0 0 15px #f698ff;
  }

  & img {
    width: 100%;
    height: 100%;
    transition: 0.5s;
    object-fit: cover;
    position: absolute;
  }
  &:hover img {
    scale: 1.2;
  }

  & p {
    position: absolute;
    top: 0;
    font-size: 1rem;
    line-height: 1.2;
    color: #6f0649;
    transition: 0.5s;
  }
  &:hover p {
    background: #f3a0e9ef;
  }
}

.directory-container .gird-box.character .item {
  & img {
    object-fit: contain;
  }

  &:hover img {
    scale: 1.05;
  }
}

.directory-container .gird-box.video .item {
  background: #eaa5ffea;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    box-shadow: none;
    filter: var(--filter);
  }

  & p {
    font-size: 2rem;
    top: unset;
    padding: 0.5rem;
  }

  &:hover p {
    scale: 1.3;
    background: unset;
  }
}

.directory-container .nav-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  padding-top: 0.1rem;
  z-index: 9;

  & button {
    appearance: none;
    outline: none;
    cursor: pointer;
    background: none;
    user-select: none;
    transition: 0.25s;

    width: 2rem;
    height: 1.6rem;
    font-size: 1rem;
    border: 1px solid #f9bbff;
    text-align: center;
    color: #ff84fb;
    /* 縦方向の中央寄せ */
    /* align-content: center; */
  }

  & button.page-btn {
    &:hover {
      color: #980093;
      background-color: #f694ff;
    }

    &.active {
      color: #980093;
      background-color: #f9bbff;
    }
  }

  & button:is(.prev-btn, .next-btn) {
    width: 4rem;
    &:hover {
      filter: var(--filter);
    }
  }

  & button.prev-btn {
    margin-right: 1rem;
  }
  & button.next-btn {
    margin-left: 1rem;
  }
}
