.cg-box {
  position: relative;
  z-index: 10;

  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  user-select: none;
  transition-duration: var(--spring-duration);
  transition-timing-function: var(--spring-easing);

  /* 3D化 */
  transform-style: preserve-3d;
  perspective: 1000px;

  /* gsap */
  scale: 0;
}

.cg-box.shadow {
  filter: var(--drop-shadow);
}
.cg-box.shadow:hover {
  filter: var(--drop-shadow-hover);
}

.cg-box.swing {
  animation: cg_swing 7.5s linear infinite;
}
.cg-box.shakeLow {
  animation: shakeLowAni 0.1s linear infinite;
}
.cg-box.shakeNormal {
  animation: shakeNormalAni 0.12s linear infinite;
}
.cg-box.shakeHigh {
  animation: shakeHighAni 0.15s linear infinite;
}

.cg-box .control-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0.1rem;
  opacity: 0;
  transition: 0.25s;
}

.cg-box:hover .control-box {
  opacity: 1;
}

.cg-box .mix-box {
  height: 100%;
  width: fit-content;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: crosshair;
  transition: transform var(--spring-duration-2nd) var(--spring-easing-2nd);
  /* transition-duration: 1s;
  transition-timing-function: var(--spring-easing); */

  /* スマホタッチ時ブラウザのリロードを阻止 */
  /* 参考: https://blog.csdn.net/weixin_44514894/article/details/116088933 */
  touch-action: none;
}

/* 試験中の機能 */
.cg-box .mix-box:hover {
  /* mask参考: https://lopan.jp/css-mask/cloud-mask */

  /* mask-image: url("/ink.gif");
  mask-size: cover;
  mask-position: center;
  mask-repeat: no-repeat; */

  /* mask-size: contain;
  mask-repeat: no-repeat;
  mask-mode: luminance;
  animation: mask-animation 2s linear forwards; */
}

/* @keyframes mask-animation {
  0% {
    mask-image: url("/character/sample/001.png");
    mask-position: 150% 150%;
  }
  100% {
    mask-image: none;
    mask-position: -150% -150%;
  }
} */

.cg-box .mix-box .cg-img {
  transition: 0.2s;
}

.cg-box .mix-box .texture-img {
  transition: 0.2s;
  position: absolute;
  inset: 0;
  margin: auto;
}

@media (max-width: 768px) {
  .cg-box .mix-box {
    height: fit-content;
    width: fit-content;
  }
}

@keyframes cg_swing {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  25% {
    transform: translateX(25px) rotate(-5deg);
  }
  50% {
    transform: translateY(0px) rotate(0deg);
  }
  75% {
    transform: translateX(-25px) rotate(5deg);
  }
  100% {
    transform: translateY(0px) rotate(0deg);
  }
}

@keyframes shakeLowAni {
  0% {
    transform: skew(0deg, 0deg);
  }
  25% {
    transform: skew(0.3deg, 0.3deg);
  }
  75% {
    transform: skew(-0.3deg, -0.3deg);
  }
  100% {
    transform: skew(0deg, 0deg);
  }
}

@keyframes shakeNormalAni {
  0% {
    transform: skew(0deg, 0deg);
  }
  25% {
    transform: skew(0.6deg, 0.6deg);
  }
  75% {
    transform: skew(-0.6deg, -0.6deg);
  }
  100% {
    transform: skew(0deg, 0deg);
  }
}

@keyframes shakeHighAni {
  0% {
    transform: skew(0deg, 0deg);
  }
  25% {
    transform: skew(1deg, 1deg);
  }
  75% {
    transform: skew(-1deg, -1deg);
  }
  100% {
    transform: skew(0deg, 0deg);
  }
}
