.transform-3d-box {
  height: 100%;
  width: fit-content;

  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
  /* これがないとスマホサイズに問題が出る、原因は不明 */
  transform: scale(1);
}

.transform-3d-box .texture-img {
  position: absolute;
}

@media (max-width: 768px) {
  .transform-3d-box {
    height: fit-content;
    width: fit-content;
  }
}

/* 試験中の機能 */
/* .transform-3d-box:hover {
  mask参考: https://lopan.jp/css-mask/cloud-mask

  mask-image: url("/ink.gif");
  mask-size: cover;
  mask-position: center;
  mask-repeat: no-repeat;

  mask-size: contain;
  mask-repeat: no-repeat;
  mask-mode: luminance;
  animation: mask-animation 2s linear forwards;
} */

/* @keyframes mask-animation {
  0% {
    mask-image: url("/character/sample/001.png");
    mask-position: 150% 150%;
  }
  100% {
    mask-image: none;
    mask-position: -150% -150%;
  }
} */
