.load-box {
  --loading-font-color: #f79cff;
  --loader-color-out: #631b5a;
  --loader-color-inner: #ffb7fd;
}

/* from: https://css-loaders.com/flipping/ */
.load-box {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  align-items: center;
  justify-content: center;

  height: 100%;
  aspect-ratio: var(--aspect-ratio);
  filter: drop-shadow(0 0 3px #5cff95) drop-shadow(0 0 6px #ff34dd);

  position: relative;
  z-index: 999;
}

.load-box .waiting {
  color: var(--loading-font-color);
  font-size: 1.2rem;
}

.load-box .failed {
  color: var(--loading-font-color);
  font-size: 1.2rem;
}

/* HTML: <div class="loader"></div> */
.loader-1st {
  display: inline-grid;
  width: 80px;
  aspect-ratio: 1;
  animation: l11-0 3s linear infinite;
}
.loader-1st:before,
.loader-1st:after {
  content: "";
  grid-area: 1/1;
}
.loader-1st:before {
  clip-path: polygon(
    100% 50%,
    83.81% 59.06%,
    93.3% 75%,
    74.75% 74.75%,
    75% 93.3%,
    59.06% 83.81%,
    50% 100%,
    40.94% 83.81%,
    25% 93.3%,
    25.25% 74.75%,
    6.7% 75%,
    16.19% 59.06%,
    0% 50%,
    16.19% 40.94%,
    6.7% 25%,
    25.25% 25.25%,
    25% 6.7%,
    40.94% 16.19%,
    50% 0%,
    59.06% 16.19%,
    75% 6.7%,
    74.75% 25.25%,
    93.3% 25%,
    83.81% 40.94%
  );
  background: var(--loader-color-out);
  transform: rotate(0turn) translate(-12.5%) rotate(0turn);
  animation: l11-1 2s linear infinite;
}
.loader-1st:after {
  margin: 12.5%;
  clip-path: polygon(
    100% 50%,
    78.19% 60.26%,
    88.3% 82.14%,
    65% 75.98%,
    58.68% 99.24%,
    44.79% 79.54%,
    25% 93.3%,
    27.02% 69.28%,
    3.02% 67.1%,
    20% 50%,
    3.02% 32.9%,
    27.02% 30.72%,
    25% 6.7%,
    44.79% 20.46%,
    58.68% 0.76%,
    65% 24.02%,
    88.3% 17.86%,
    78.19% 39.74%
  );
  background: var(--loader-color-inner);
}
@keyframes l11-0 {
  to {
    rotate: 1turn;
  }
}
@keyframes l11-1 {
  to {
    transform: rotate(-1turn) translate(-12.5%) rotate(0.75turn);
  }
}

/* HTML: <div class="loader"></div> */
.loader-2nd {
  display: inline-grid;
  width: 75px;
  aspect-ratio: 1;
  border-radius: 50%;
  overflow: hidden;
  outline: 7px solid var(--loader-color-out);
  outline-offset: -1px;
  animation: l3-0 4s linear infinite;
}
.loader-2nd:before,
.loader-2nd:after {
  content: "";
  grid-area: 1/1;
}
.loader-2nd:before {
  clip-path: polygon(
    evenodd,
    0 0,
    100% 0,
    100% 100%,
    0 100%,
    0 0,
    100% 50%,
    83.81% 59.06%,
    93.3% 75%,
    74.75% 74.75%,
    75% 93.3%,
    59.06% 83.81%,
    50% 100%,
    40.94% 83.81%,
    25% 93.3%,
    25.25% 74.75%,
    6.7% 75%,
    16.19% 59.06%,
    0% 50%,
    16.19% 40.94%,
    6.7% 25%,
    25.25% 25.25%,
    25% 6.7%,
    40.94% 16.19%,
    50% 0%,
    59.06% 16.19%,
    75% 6.7%,
    74.75% 25.25%,
    93.3% 25%,
    83.81% 40.94%,
    100% 50%
  );
  background: var(--loader-color-out);
}
.loader-2nd:after {
  margin: 12.5%;
  clip-path: polygon(
    100% 50%,
    78.19% 60.26%,
    88.3% 82.14%,
    65% 75.98%,
    58.68% 99.24%,
    44.79% 79.54%,
    25% 93.3%,
    27.02% 69.28%,
    3.02% 67.1%,
    20% 50%,
    3.02% 32.9%,
    27.02% 30.72%,
    25% 6.7%,
    44.79% 20.46%,
    58.68% 0.76%,
    65% 24.02%,
    88.3% 17.86%,
    78.19% 39.74%
  );
  background: var(--loader-color-inner);
  transform: rotate(0turn) translate(15.625%) rotate(0turn);
  animation: l3-1 2s linear infinite;
}
@keyframes l3-0 {
  to {
    rotate: -1turn;
  }
}
@keyframes l3-1 {
  to {
    transform: rotate(1turn) translate(15.625%) rotate(-1.333turn);
  }
}

/* HTML: <div class="loader"></div> */
.loader-3rd {
  display: inline-grid;
  width: 65px;
  aspect-ratio: 1;
  background: conic-gradient(
      from 146deg at 50% 1%,
      #0000,
      #7a1b6c 2deg 65deg,
      #0000 68deg
    ) -5% 100%/20% 27% repeat-x;
  animation: l5-0 0.5s linear infinite;
}
.loader-3rd:before {
  content: "";
  grid-area: 1/1;
  margin: 12.5%;
  animation: inherit;
  animation-name: l5-1;
  clip-path: polygon(
    100% 50%,
    78.19% 60.26%,
    88.3% 82.14%,
    65% 75.98%,
    58.68% 99.24%,
    44.79% 79.54%,
    25% 93.3%,
    27.02% 69.28%,
    3.02% 67.1%,
    20% 50%,
    3.02% 32.9%,
    27.02% 30.72%,
    25% 6.7%,
    44.79% 20.46%,
    58.68% 0.76%,
    65% 24.02%,
    88.3% 17.86%,
    78.19% 39.74%
  );
  background: var(--loader-color-inner);
}
@keyframes l5-0 {
  to {
    background-position: 20% 100%;
  }
}
@keyframes l5-1 {
  to {
    rotate: -40deg;
  }
}

/* HTML: <div class="loader"></div> */
.loader-extra {
  width: 70px;
  height: 70px;
  display: grid;
}
.loader-extra:before,
.loader-extra:after {
  content: "";
  grid-area: 1/1;
  background: #ff80f2;
  clip-path: polygon(
    0 0,
    100% 0,
    100% 100%,
    75% 25%,
    0 0,
    0 100%,
    100% 100%,
    25% 75%,
    0 0
  );
  animation: l20 1.5s infinite linear;
}
.loader-extra:after {
  clip-path: polygon(0 0, 76% 24%, 100% 100%, 24% 76%);
  --s: 0;
}
@keyframes l20 {
  0% {
    transform: perspective(100px) rotate3d(1, var(--s, 1), 0, 0);
  }
  25% {
    transform: perspective(100px) rotate3d(1, var(--s, 1), 0, -90deg);
  }
  25.01% {
    transform: perspective(100px) rotate3d(1, var(--s, 1), 0, -90deg);
  }
  40%,
  60% {
    transform: perspective(100px) rotate3d(1, var(--s, 1), 0, -180deg);
  }
  75% {
    transform: perspective(100px) rotate3d(1, var(--s, 1), 0, -270deg);
  }
  75.01% {
    transform: perspective(100px) rotate3d(1, var(--s, 1), 0, -270deg);
  }
  90%,
  100% {
    transform: perspective(100px) rotate3d(1, var(--s, 1), 0, -360deg);
  }
}
