.desk-box {
  position: absolute;
  bottom: 0.2rem;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;

  z-index: 99;
  transition: 0.5s;
}

.desk-box.shadow {
  filter: var(--drop-shadow-hover);
}
.desk-box.hidden {
  opacity: 0;
  scale: 0;
  transition: opacity 0.5s, scale 2s;
}

.desk-box > .desk-1st,
.desk-box > .desk-2nd {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;

  position: relative;
  z-index: 9;
  opacity: 1;
  scale: 1;
  transition: all 0.5s;
}

.desk-box > .desk-1st.hidden,
.desk-box > .desk-2nd.hidden {
  position: absolute;
  z-index: 0;
  opacity: 0;
  scale: 0;
  transition: opacity 0.5s, scale 1.5s;
}

.mobile-box {
  display: none;
}
.mobile-box.shadow {
  filter: var(--drop-shadow-hover);
}

.storage-box {
  position: fixed;
  top: 1rem;
  right: 4.5rem;
  z-index: 99;
  transition: 0.5s;
}
.storage-box.shadow {
  filter: var(--drop-shadow-hover);
}

@media (max-width: 768px) {
  .desk-box {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0.3rem;

    flex-direction: column;
    justify-content: center;
    padding: 4rem 0;
  }

  .desk-box.hidden {
    opacity: 0;
    top: 100%;
    scale: 0;
    transition: top 0.5s, opacity 1s, scale 2s;
  }

  .desk-box > .desk-1st,
  .desk-box > .desk-2nd {
    display: contents;
  }

  .desk-box > .desk-1st.hidden,
  .desk-box > .desk-2nd.hidden {
    display: none;
  }

  .mobile-box {
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    bottom: 0.3rem;
    z-index: 99;
    transition: 0.5s;
  }

  .mobile-box.hidden {
    z-index: 0;
    opacity: 0;
    scale: 0;
    transition: 0.5s;
  }

  .mobile-box .mobile-1st,
  .mobile-box .mobile-2nd {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    z-index: 9;
    transition: 0.5s;
  }

  .mobile-box .mobile-1st.hidden,
  .mobile-box .mobile-2nd.hidden {
    position: absolute;
    z-index: 0;
    opacity: 0;
    scale: 0;
    transition: opacity 1s, scale 2s;
  }

  .storage-box {
    top: unset;
    bottom: 0.3rem;
    right: 0.3rem;
  }
}
