.main-box {
  position: absolute;
  bottom: 0.2rem;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;

  z-index: 99;
  transition: 0.5s;
}

.main-box.shadow {
  filter: var(--drop-shadow-hover);
}
.main-box.hidden {
  opacity: 0;
  scale: 0;
  transition: opacity 0.5s, scale 2s;
}

.mobile-box-1st,
.mobile-box-2nd {
  display: none;
}
.mobile-box-1st.shadow,
.mobile-box-2nd.shadow {
  filter: var(--drop-shadow-hover);
}

.storage-box {
  position: fixed;
  top: 1rem;
  right: 5rem;
  z-index: 99;
  transition: 0.5s;
}
.storage-box.shadow {
  filter: var(--drop-shadow-hover);
}

@media (max-width: 768px) {
  .main-box {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0.3rem;

    flex-direction: column;
    /* justify-content: space-evenly;
    gap: 0; */
    justify-content: center;
    padding: 4rem 0;
  }

  .main-box.hidden {
    opacity: 0;
    top: 100%;
    scale: 0;
    transition: top 0.5s, opacity 1s, scale 2s;
  }

  .mobile-box-1st,
  .mobile-box-2nd {
    width: 100dvw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;

    position: fixed;
    bottom: 0.3rem;
    z-index: 99;

    transition: 0.5s;
  }

  .mobile-box-1st.hidden,
  .mobile-box-2nd.hidden {
    z-index: 0;
    opacity: 0;
    scale: 0;
    transition: opacity 1s, scale 2s;
  }

  .storage-box {
    top: unset;
    bottom: 0.3rem;
    right: 0.3rem;
  }
}
