.custom-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-box.desk {
  position: absolute;
  gap: 25rem;
  transition: 1s;
  z-index: 0;
}

.custom-box.mobile {
  position: fixed;
  bottom: 0.3rem;
  gap: 20rem;
  display: none;
  z-index: 99;
  transition: 0.8s;
}

@media (max-width: 768px) {
  .custom-box.desk {
    display: none;
  }

  .custom-box.mobile {
    display: flex;
  }
}
