.check-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--outer-gap);
}

@media (max-width: 768px) {
  .check-box.column {
    flex-direction: column;
    gap: var(--responsive-gap);
  }
}

.check-box label {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  color: var(--label-color);
}

.check-box label:hover {
  color: var(--label-color-hover);
}

/* チェックボックスカスタマイズ */
.check-box label input[type="checkbox"] {
  appearance: none;
  cursor: pointer;
  border: 1px solid var(--unchecked-color);
  transition: all 0.12s, border-color 0.08s;
  position: relative;
}

.check-box label input[type="checkbox"]:checked {
  border-color: var(--checked-color);
  border-top-color: transparent;
  border-left-color: transparent;
  transform: rotate(45deg);
}

.check-box label:hover input[type="checkbox"]:not(:checked) {
  border-color: var(--checkBox-color-hover);
}

/* チェックボックスのサイズ */
.check-box label input[type="checkbox"] {
  width: calc(var(--checkbox-size) * 1rem);
  height: calc(var(--checkbox-size) * 1rem);
}
.check-box label input[type="checkbox"]:checked {
  width: calc(var(--checkbox-size) / 2 * 1rem);
  top: calc(var(--checkbox-size) / 4 * -1rem);
  left: calc(var(--checkbox-size) / 4 * 1rem);
}
.check-box label input[type="checkbox"].kind2nd:checked {
  left: calc(var(--checkbox-size) / 4 * -1rem);
}
