.effect-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  line-height: 1.1rem;
  border: 1px solid #00ff80;
  gap: 0.3rem;

  width: 100%;
  padding: 0.1rem;
  color: #ff84fb;

  transition: 0.3s;
}

/* .effect-box:hover {
  animation: korokoro 2.5s linear 0s 1;
} */

.effect-box label {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  cursor: pointer;
  user-select: none;
  transition: 0.3s;
}

.effect-box label:hover {
  color: #d9ff2f;
}
.effect-box label:hover input[type="checkbox"]:not(:checked) {
  border-color: #09ff00;
}

/* checkboxカスタマイズ */
.effect-box input[type="checkbox"] {
  appearance: none;
  cursor: pointer;
  /* width: 1rem;
  height: 1rem; */
  width: 0.8rem;
  height: 0.8rem;
  border: 1px solid #ed8be9;
  transition: all 0.12s, border-color 0.08s;

  position: relative;
}
.effect-box input[type="checkbox"]:checked {
  /* width: 0.5rem;
  top: -0.25rem;
  left: 0.25rem; */
  width: 0.4rem;
  top: -0.2rem;
  left: 0.2rem;
  border-color: #93ffeb;
  border-top-color: transparent;
  border-left-color: transparent;
  transform: rotate(45deg);
}
