.iconDefault {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 50%;
  color: #ffa9ec;
  font-size: 2.1rem;
  transition: 0.25s;
  overflow: hidden;
}

.iconDefault:hover {
  outline: 1px dashed #ffa9ec;
  background-color: #fff;
  color: rgb(200, 0, 15);
  animation: 0.2s linear 0s flashAni;
  scale: 0.95;
}

.iconDefault:active {
  color: #eb00e7;
  outline: 1px dashed #eb004e;
  scale: 0.8;
}

.iconDefault.anime-color {
  animation: change-color 1s linear infinite alternate;
}

.iconDefault.anime-color-2nd {
  animation: change-color-2nd 1s linear infinite alternate;
}

.iconDefault.anime-scale {
  animation: change-scale 1s linear infinite alternate;
}

.iconSmall {
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  font-size: 0.9rem;
  border: 2px solid transparent;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
  border-radius: 50%;
  color: #ff57b6;
  background-color: #37fffc;
}

.iconSmall:hover {
  color: #e57dff;
  background-color: #89ffd4;
  animation: 0.2s linear 0s flashAni;
}

.iconDefault.onlyMobile {
  display: none;
}

@media (max-width: 768px) {
  .iconDefault {
    font-size: 1.9rem;
  }

  .iconDefault.onlyMobile {
    display: flex;
  }
  .iconDefault.onlyDesk {
    display: none;
  }
}

@keyframes flashAni {
  0%,
  35%,
  50%,
  85% {
    opacity: 0;
  }
  20%,
  65%,
  100% {
    opacity: 1;
  }
}

@keyframes change-color {
  0% {
    color: #ff99fd;
  }
  100% {
    color: #ebd000;
  }
}

@keyframes change-color-2nd {
  0% {
    color: #7d1784;
  }
  100% {
    color: #5aff8c;
  }
}

@keyframes change-scale {
  0% {
    color: #ff99fd;
    scale: 0.9;
  }
  100% {
    color: #6eeeff;
    /* color: #ebd000; */
    scale: 1.1;
  }
}

@keyframes animate-rotate {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
