.parts-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1rem;
  user-select: none;
  gap: 0.1rem;
}

.parts-box .title {
  color: #ff81f0;
  font-size: 1rem;
}

.parts-box .control {
  display: flex;
  justify-content: center;
  align-items: center;
}

.parts-box .control p {
  font-size: 1.05rem;
  line-height: 1rem;
  width: 7rem;
  text-align: center;
  padding: 1px 3px;
  color: #b90097;
  background-color: #f6afff;
  border: 1px dashed #ec60ff;
  white-space: nowrap;
  overflow: hidden;
  transition: 0.25s;
}

.parts-box .control p.ani:hover {
  cursor: pointer;
  color: #590072;
  background-color: #89ffd4;
  border: 1px dashed #ffa9ec;
  animation: 0.2s linear 0s flashAni;
}

@keyframes flashAni {
  0%,
  35%,
  50%,
  85% {
    opacity: 0;
  }
  20%,
  65%,
  100% {
    opacity: 1;
  }
}
