.parts-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1rem;
  user-select: none;
  gap: 0.1rem;

  & .title {
    color: #f9a1ff;
    font-size: 1rem;
  }

  & .control {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;
  }

  & .control .icon-box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    & .item-box {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.2rem;
    }
  }

  & .control .message {
    background: linear-gradient(to right, #8dfbb9 0%, #7fffd4 45%, #fffacd 100%);
    background-size: 200% auto;
    border-radius: calc(infinity * 1px);

    width: 100%;
    line-height: 1;
    font-size: 1.2rem;
    padding: 2px 3px;
    text-align: center;
    color: #aa008a;
    white-space: nowrap;
    overflow: hidden;
    transition: 0.5s;

    &.ani:hover {
      cursor: pointer;
      color: #0067a7;
      background-color: #ccff67;
      background-position: right center;
      animation: 0.2s linear 0s flashAni;
    }
    &.ani:active {
      scale: 0.95 1;
      transition: 0.2s;
    }
  }
}

@keyframes flashAni {
  0%,
  35%,
  50%,
  85% {
    opacity: 0;
  }
  20%,
  65%,
  100% {
    opacity: 1;
  }
}
