@charset "utf-8";
@import url("./fonts.css");
/* @import url("https://fonts.googleapis.com/css2?family=Aboreto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@100..900&display=swap"); */

/* css変数 グローバル変数 */
/* 参照: https://skillhub.jp/blogs/391 */
:root {
  --font-main: "Aboreto", "M PLUS 1", system-ui;
  --font-special: "Allura", cursive;

  --aspect-ratio: 1 / 1.618;
  /* --aspect-ratio-mobile: 1 / 1.42; */

  --label-color: #ff84fb;
  --label-color-hover: #d9ff2f;

  --unchecked-color: #ed8be9;
  --checked-color: #93ffeb;
  --checkBox-color-hover: #09ff00;

  --drop-shadow: drop-shadow(0 0 5px #5cff95) drop-shadow(0 0 15px #ff34dd);
  --drop-shadow-hover: drop-shadow(0 0 5px #86fff3) drop-shadow(0 0 15px #fc3eff);

  /* https://www.kvin.me/css-springs */
  --spring-duration: 1s;
  --spring-easing: linear(
    0,
    0.0018,
    0.007 1.17%,
    0.016 1.79%,
    0.0291 2.45%,
    0.0657 3.8%,
    0.1173 5.26%,
    0.1686 6.5%,
    0.2334 7.92%,
    0.5024 13.4%,
    0.618 15.88%,
    0.7265 18.47%,
    0.7744 19.75%,
    0.8172,
    0.8561 22.23%,
    0.8923 23.51%,
    0.9235 24.75%,
    0.9519,
    0.9765 27.31%,
    0.9981 28.62%,
    1.0168 29.97%,
    1.0323 31.36%,
    1.0491 33.37%,
    1.0604 35.48%,
    1.0667 37.78%,
    1.0679 40.3%,
    1.0652 42.6%,
    1.0591 45.27%,
    1.0278 54.94%,
    1.0156 59.29%,
    1.0071 63.3%,
    1.0011 67.39%,
    0.997 72.39%,
    0.9954 78.16%,
    0.9991 99.99%
  );

  --spring-duration-2nd: 2.913s;
  --spring-easing-2nd: linear(
    0,
    0.0026,
    0.0103,
    0.0227 1.2%,
    0.0406 1.63%,
    0.0912 2.5%,
    0.1635 3.44%,
    0.2362 4.24%,
    0.3263 5.14%,
    0.68 8.37%,
    0.8195 9.71%,
    0.9487 11.1%,
    1.0509 12.39%,
    1.0954 13.05%,
    1.1333,
    1.1662,
    1.1941 14.96%,
    1.2178,
    1.2364,
    1.25 16.94%,
    1.2592 17.63%,
    1.2641 18.45%,
    1.2627 19.3%,
    1.2549 20.19%,
    1.2409,
    1.2219 22.08%,
    1.1968 23.12%,
    1.0574 28.02%,
    1.0249 29.29%,
    0.998 30.49%,
    0.9723,
    0.9528,
    0.9396 34.66%,
    0.9321 36.1%,
    0.9304 37.87%,
    0.9363 39.8%,
    0.9481 41.8%,
    0.9846 46.66%,
    0.9999 49.06%,
    1.0118 51.75%,
    1.0177 54.46%,
    1.0184 56.34%,
    1.0169 58.44%,
    1.0003 67.56%,
    0.9955 72.67%,
    0.9955 77.1%,
    1.001 89.76%,
    1.0007 99.98%
  );
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-main);
}

html {
  font-size: 16px;
}

/* 125%画面拡大倍率対応例 */
/* 参考: https://junzou-marketing.com/css-responsive-image */
/* @media (min-resolution: 1.25dppx) {
  html {
    font-size: 12.8px;
    }
    } */

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
  background: #000000;
  overflow: hidden;
}
